*{
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-size: 100%;
    background-color: beige;

}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.banner-principal {
    height: auto;
}